.product-card {
    width: 250.67px;
    height: 347px;
    position: relative;
    margin-bottom: 5px;
    transition: .3s ease-in;
}

/****** Image and Add to cart button ******/
.image-container {
    width: fit-content;
    height: fit-content;
    margin-bottom: 38px;
}

.product-image {
    height: 240px;
    border-radius: 8px;
    transition: .3s ease-in;
}

.add-to-cart-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in;
}

.add-to-cart-unclicked {
    width: 160px;
    height: 44px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: .85rem;
    border-radius: 999px;
    border: 1px solid var(--rose-400);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.add-to-cart-unclicked p {
    transition: all .3s ease-in;
}

.add-to-cart-unclicked:hover{
    border: 1px solid var(--red);
    
    p {
        color: var(--red);
    }
}

.add-to-cart-icon {
    font-size: 20px;
}

.add-to-cart-clicked {
    transition: .3s ease-in;
    width: 160px;
    height: 44px;
    background: var(--red);
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: absolute;
    // visibility: hidden;
}
.quantity-decrement-icon, .quantity-increment-icon {
    width: 17.5px;
    height: 17.5px;
    background: transparent;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    padding: 3px;
    transition: .3s ease-in;
}
.quantity-decrement-icon:hover, .quantity-increment-icon:hover {
    cursor: pointer;
    background: white;

    path {
        fill: var(--red);
    }
}
.quantity {
    color: var(--white);
}

.clicked {
    visibility: visible;
}

/********* Product info style section ********/
.product-info-container {
    width: 250.67px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-name {
    color: var(--rose-500);
    font-size: 15px;
}
.image-desc {
    color: var(--black);
    font-weight: 500;
}
.product-price {
    color: var(--red);
    font-weight: 450;
}



/************* MEDIA QUERIES ***************/

@media screen and (max-width: 768px) {
    .product-card {
        width: 213.33px;
        height: 319px;
    }

    .product-image {
        width: 213.33px;
        height: 212px;
        object-fit: cover;
    }

    .add-to-cart-container {
        top: 190px;
    }
}

@media screen and (max-width: 470px) {
    .product-card {
        width: 327px;
        height: 319px;
    }

    .product-image {
        width: 327px;
        height: 212px;
        object-fit: cover;
    }

    .add-to-cart-container {
        top: 190px;
    }
}