.main-app-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.app-wrapper {
    width: fit-content;
    display: flex;
    gap: 32px;
}

app-modal {
    position: absolute;
    z-index: 4;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.lightroom {
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    display: none;
}

.hiddenLightbox {
    display: block;
}


/********** Media queries ***********/
@media only screen and (max-width : 1240px) {
    .app-wrapper {
        flex-direction: column;
    }
}