.main-app-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.app-wrapper {
    width: fit-content;
    display: flex;
    gap: 32px;
}

app-modal {
    position: absolute;
    z-index: 4;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


/********** Media queries ***********/
@media only screen and (max-width : 1240px) {
    .app-wrapper {
        flex-direction: column;
    }
}