.desserts-container {
    width: 100%;
    border: 1px solid black;
}

.desserts-heading {
    width: fit-content;
    margin-bottom: 32px;
    font-size: 2.25rem;
}

.prods {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(250.66px, 1fr));
    gap: 24px;
    // grid-template-columns: repeat(3, 1fr);
}